<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Lista de sugerencias</title>
</head>
<body>
	<div>
		<form th:action="@{/logout}" method="POST"> 
					<button id="logout" type="submit" name="logout">Cerrar sesion</button>
		</form>
	</div>
	
	<div th:id="todas">
			<table>
				<tr>
					<th>Contenido</th>
					<th></th>
					<th>Usuario</th>
					<th></th>
				</tr>
				<tr th:each="s : ${sugerencias}">	
			                  <td th:text="${s.contenido}"></td>
			                  <td></td>
			                  <td th:text="${s.usuario.usuario}"/> 
		       				  <td></td>
		       				  <td>
		       				  <form th:action="@{/mostrar(sugerencia=${s.id})}" method="POST">
		       				  	<button id="ver" type="submit" name="ver" th:value="${s.contenido}">
		       				  	Mostrar
		       				  	</button>
		       				 
		       				  </form>
		       				  </td> 
		       				  <td>
		       				  <form th:action="@{/eliminarSugerencia(sugerencia=${s.id})}" method="POST">
		       				  	<button id="eliminar" type="submit" name="eliminar" th:value="${s.contenido}">
		       				  	Eliminar
		       				  	</button>
		       				 
		       				  </form>
		       				  </td> 
				</tr>
			</table>
</div>
</body>
</html>