<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Lista de sugerencias</title>
</head>
<body>
	<div>
		<form th:action="@{/logout}" method="POST"> 
					<button id="logout" type="submit" name="logout">Cerrar sesion</button>
		</form>
	</div>
	
	<div>
		<form th:action="@{/nuevaSugerencia}" method="POST"> 
					<button id="nueva" type="submit" name="nueva">Nueva sugerencia</button>
		</form>	
	</div>
	
	<div th:id="todas">
			<table border="1">
				<tr>
					<th>Contenido</th>
					<th></th>
					<th>Usuario</th>
					<th></th>
				</tr>
				<tr th:each="s : ${sugerencias}">	
			                  <td th:text="${s.contents}" align="center"/>
			                  <td></td>
			                  <td th:text="${s.user.username}" align="center"/> 
		       				  <td></td>
		       				  <td align="center">
			       				  <form th:action="@{/mostrar(sugerencia=${s.id})}" method="POST">
			       				  	<button id="ver" type="submit" name="ver" th:value="${s.contents}">
			       				  	Mostrar
			       				  	</button>
			       				 
			       				  </form>
		       				  </td> 
				</tr>
			</table>
</div>
</body>
</html>