<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Mostrar Sugerencia</title>
</head>
<body>
	<div>
		<form th:action="@{/listarSugerencias}" method="POST"> 
					<button id="listar" type="submit" name="listar">Lista de sugerencias</button>
		</form>
	</div>
	<h1>Sugerencia seleccionada</h1>
	<div>
		<table>
			<tr>
				<th>Contenido</th>
				<th></th>
				<th>Usuario</th>
			</tr>
			<tr>	
		        <td th:text="${seleccionada.contenido}"/>
		        <td/>
		        <td th:text="${seleccionada.usuario.usuario}"/>
			</tr>
		</table>
	</div>
	
	<div>
		<form th:action="@{/nuevoComentario(sugerencia=${seleccionada.id})}" method="POST"> 
					<button id="nuevoComentario" type="submit" name="nuevoComentario">Nuevo comentario</button>
		</form>
	</div>
	
	<div th:id="comentarios">
		<h2>Comentarios</h2>
			<table>
				<tr>
					<th>Contenido</th>
					<th></th>
					<th>Usuario</th>
				</tr>
				<tr th:each="c : ${seleccionada.comentarios}">	
			                  <td th:text="${c.contenido}"></td>
			                  <td></td>
		       				  <td th:text="${c.usuario.usuario}"></td>
		       				  <td></td>
				</tr>
			</table>
</div>
</body>
</html>